:host{
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
    gap: 20px;
    
    &>*{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
    }
}