<div class="grid">
    <p-card class="col-12">
        <p-toolbar>
            <div class="p-toolbar-group-start">
                <p-button icon="pi pi-plus" class="mr-2"/>
                <p-button icon="pi pi-print" class="mr-2"/>
                <p-button icon="pi pi-upload" />
            </div>
            <div class="p-toolbar-group-center">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText placeholder="Search" />
                </span>
            </div>
            <div class="p-toolbar-group-end">
               
            </div>
        </p-toolbar>
    </p-card>
    <p-card class="col-6" *ngFor="let item of [1,1,1,1,1,1,1,1,1]">
        <p-panel [toggleable]="true" [collapsed]="true">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <p-avatar 
                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                        size="xlarge"
                        [style]="{overflow:'hidden', borderRadius:'6px'}" 
                    />
                                            
                    <div class="flex flex-column gap-2">
                        <span class="font-bold">Nome da Empresa</span>
                        <span class="text-xl font-bold line-height-1">Nome do Projeto</span>
                        <span class="text-xs line-height-1">20/11/1992 - 16/06/2024</span>
                    </div>
                </div>
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
            <p-divider />
            <a routerLink="/" class="flex align-items-center no-underline text-color">
                <p-knob class="mr-2" [min]="30" [size]="30" [strokeWidth]="15" [disabled]="true" [readonly]="true" />
                <span>Nome da tarefa</span>
            </a>
            <p-divider />
            <a routerLink="/" class="flex align-items-center no-underline text-color">
                <p-knob class="mr-2" [min]="30" [size]="30" [strokeWidth]="15" [disabled]="true" [readonly]="true" />
                <span>Nome da tarefa</span>
            </a>
            <ng-template pTemplate="icons">
                <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
                    <span class="pi pi-cog"></span>
                </button>
                <p-menu #menu id="config_menu" [model]="[
                {
                    label: 'Editar Projeto',
                    icon: 'pi pi-pen-to-square'
                },
                {
                    label: 'Adicionar Tarefa',
                    icon: 'pi pi-list-check'
                },
                {
                    separator: true
                },
                {
                    label: 'Deletar',
                    icon: 'pi pi-times'
                }]" [popup]="true" />
            </ng-template>
        </p-panel>
        <div class="flex flex-wrap align-items-center justify-content-between gap-3 px-3 pb-3 pt-1">
            <div class="flex align-items-center gap-2">
                <div class="responsavel">
                    <p-avatar 
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                    size="large"
                    shape="circle"
                    />
                    <span>Responsável</span>
                </div>
            </div>
            <p-progressBar class="flex-auto" [value]="50" [style]="{ height: '1.2em' }" />
            <div>
                <small>Alterado:</small> <span class="font-bold"> 16/06/2024</span>
            </div>
        </div>
    </p-card>
</div>