:host ::ng-deep{
    p-card{
        line-height: 1.2em;
        .p-card-body, .p-card-content{
            padding: 0;
        }
        .p-fieldset {
            padding: 0;
            .p-fieldset-legend{
                width: 100%;
                a {
                    padding: .4em .8em;
                    font-size: var(--font-size);
                    font-weight: normal;
                    justify-content: flex-start;
                }
            }
            .p-fieldset-content {
                padding: 5px;
            }
        }
        .p-divider.p-divider-horizontal {
            margin: .6rem 0;
        }
        
        p-skeleton + .p-ripple{
            display: none;
        }
    }
    p-paginator .p-paginator.p-component{
        padding: 0 1rem 0 0;
        &>*:not(p-dropdown):not(:nth-child(4)):not(:nth-child(5)){ order: 1; }
        &>*:nth-child(4){ order: 3; }
        &>*:nth-child(5){ order: 3; }
        p-dropdown{
            order: 2;
            .p-dropdown{
                height: auto;
            }
        }
    }
    .p-knob-text{
        transform: scale(1.8);
        transform-origin: center;
    }
}
.responsavel{
    display: flex;
    flex-direction: column;
    align-items: center;
    &>span{
        margin-top: -15px;
        margin-bottom: -7px;
        background-color: var(--surface-0);
        padding:0px;
        font-size: 10px;
        font-weight: 600;
    }
}
:host ::ng-deep{
    .p-sidebar .p-sidebar-content {
        padding: 0px !important;
    }
}
.blur{ filter: blur(6px) opacity(0.4);}