<p-sidebar [(visible)]="open" (onHide)="onHide()" (visibleChange)="($event)" position="right">
    <div class="box-dorm px-3 py-4">
        <h2>{{title}}</h2>
        <p-divider></p-divider>
        <form class="grid" [formGroup]="form">
            
            <div class="p-1 col-4">
                <p-dropdown
                formControlName="status"
                [options]="[
                    {name:'Pendente', value:0},
                    {name:'Em Progresso', value:1},
                    {name:'Concluído', value:2}
                ]"
                [showClear]="true"
                optionLabel="name" 
                optionValue="value" 
                placeholder="Status" />
            </div>
            <div class="p-1 col-8">
                <input formControlName="empresa" class="text" placeholder="Empresa responsavel" type="text" pInputText />
            </div>
            <div class="p-1 col-12">
                <input formControlName="title" class="text-lg" placeholder="Nome" type="text" pInputText />
            </div>
            <div class="p-1 col-12">
                <p-divider></p-divider>
            </div>
            <div class="p-1 col-6">
                <p-calendar formControlName="createdAt" [showClear]="true" />
            </div>
            <div class="p-1 col-6">
                <p-calendar formControlName="endAt" [showClear]="true" />
            </div>
            <div class="p-1 col-12">
                <textarea formControlName="describe" pInputTextarea></textarea>
            </div>
            <div class="p-1 col-12">
                <p-button (click)="creatingTask=true" icon="pi pi-plus" label="Aficionar Tarefas" />
            </div>
            <div class="p-1 col-12">
                <button (click)="submit()" pButton label="Salvar" icon="pi pi-user" class="w-full mt-2 mb-3"></button>
            </div>
            <div class="p-1 col-12" *ngIf="tasks.length">
                <p-table [value]="tasks" [tableStyle]="{ 'min-height': '200px' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Status</th>
                            <th>Name</th>
                            <th>Começo</th>
                            <th>Fim</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-task>
                        <tr>
                            <td>{{ task.status }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.createdAt | date }}</td>
                            <td>{{ task.endAt | date }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </form>
    </div>
</p-sidebar>
<ng-container *ngIf="creatingTask">
    <app-task [tasks]="tasks" (close)="
        tasks = $event || tasks;
        creatingTask=false;
    "></app-task>
</ng-container>