:host ::ng-deep{
    .layout-sidebar{
        flex: 0 0 210px;
        .p-card-body {
            padding: 0;
            flex: auto;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
        }
        //box-shadow:  4px 4px 8px var(--surface-100);
        //border-left: solid 1px var(--surface-100);
    }
    line-height: 1em;
}
#avatar{
    width: 50px;
    height: 50px;
    border: solid 5px var(--surface-0);
    border-radius: 50%;
    background-color: var(--surface-500);
    position: relative;
    overflow: hidden;
    &>span{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position:center;
        background-size: cover;
    }
}