<div class="flex h-screen">
    <div class="surface-0 layout-sidebar flex flex-column align-items-stretch justify-content-center">
        <h1 class="px-4 pt-4 pb-2">
            <img src="../../assets/svg/logo.svg" alt="Tasker Talk" />
        </h1>
        <div id="user-box" class="flex py-2 px-3 align-items-center gap-2">
            <div id="avatar" >
                <span [ngStyle]="{'background-image': 'url('+user?.avatar+')'}"></span>
            </div>
            <div>
                <span><small>Olá!</small> 👋</span>
                <p class="font-semibold">{{user?.name}}</p>
            </div>
        </div>
        <div class="flex-auto">
            <p-menu [model]="items" />
        </div>
        <div class="py-3 mt-3">
            <p-menu [model]="[{ label: 'Logout', icon: 'pi pi-sign-out'}]" (click)="logOut()" />
        </div>
    </div>
    <div class="flex-auto">
        <router-outlet />
    </div>
</div>